[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
demoji = "*"
gensim = "*"
mecab-python3 = "*"
twscrape = "*"
matplotlib = "*"
scikit-learn = "*"
mojimoji = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.6"
